* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.manage_main {
    margin-top: 30px;
}

.imgDiv{
    display: flex;
    flex-wrap: wrap;
}

.main_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.mg_img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.mng_text_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mng_p1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #00032E;
}

.mng_span {
    width: 48px;
    height: 21px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 10px;
    padding: 3px 5px;
    background: #FF4D88;
    color: #FFFFFF;
}

.mng_p2 {
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    text-align: left;
    padding-top: 10px;
    color: #00032E;
}

.mng_p3 {
    font-size: 11px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0;
    width: 110px;
    margin-top: 10px;
    color: #000981;
    border: 1px solid #000981;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
}

.mng_btn_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mng_btn {
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    padding: 10px 15px 10px 30px;
    background-color: #8189FF;
    color: #FFFFFF;
    border: 0;
    position: relative;
    cursor: pointer;
    text-align: left;
}

.mng_icon {
    font-size: 15px;
    padding-right: 5px;
    font-weight: 600;
    position: absolute;
    top: 11px;
    left: 9px;
}

.main_card_div {
    margin-top: 50px;
}

.scroll_div {
    display: flex;
}

.scroll_p {
    margin-right: 120px;
    position: relative;
    cursor: pointer;
}

.scroll_p div {
    border: 2px solid #00032E;
    position: absolute;
    top: 168%;
    width: 159px;
}

.locationIco{
    margin-right: 3px;
    margin-bottom: -1px;
}

.mng_border {
    width: 105%;
    margin-left: -34px;
    border: 2px solid #808297;
    margin-top: 15px;
}

@media only screen and (max-width: 511px){
    .mng_btn_div{
        margin: 20px auto 0 auto;
    }
}

@media only screen and (max-width: 440px){
    .mng_text_div{
        margin-top: 20px;
    }

    .mng_text_div p{
        margin-left: auto;
        margin-right: auto;
    }

    .imgDiv{
        justify-content: center;
    }
}

@media only screen and (max-width: 322px){
    .mng_p1 {
        font-size: 20px;
    }
}