.cancelBtn, .saveBtn{
    padding: 10px 25px;
    margin: 0 8px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
}

.cancelBtn{
    background-color: white;
    color: #808297;
}

.cancelBtn:hover{
    background-color: #E5E7FF;
}

.saveBtn{
    background-color: #8189FF;
    color: white;
}

.saveBtn:hover{
    background-color: #6e74dc;
}

.disabled{
    opacity: .6;
    pointer-events: none;
}

.formSec{
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 24px;
    padding: 25px;
    border-radius: 20px;
}

.textField{
    width: calc(50% - 15px);
    margin-bottom: 20px;
}

.textArea{
    width: 100%;
}

.textField p, .textArea p{
    color: rgba(0, 3, 46, 0.7);
    font-weight: 500;
    margin-bottom: 6px;
}




@media only screen and (max-width: 599px){
    .formSec {
        column-gap: 0;
    }

    .textField{
        width: 100%;
    }
}

@media only screen and (max-width: 512px){
    .actionBtns{
        margin-top: 20px;
        display: unset;
        width: 100%;
        text-align: center;
    }
}