.email_main {
    width: 450px;
    margin: 13% auto;
    padding: 40px 20px;
    font-family: 'Roboto',
    sans-serif;
    box-shadow: 0 2px 8px 3px #888888;
    border-radius: 8px;
}
.email_sub {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.email_icon {
    text-align: center;
    background-color: rgba(217, 217, 217, 1);
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}
.email_icon i {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding: 8px 10px 6px;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.email_heading {
    margin: 7% 0 3.5%;
}
.email_heading p {
    margin-bottom: 0;
    font-weight:700;
    font-size: 30px;
}
.email_pera p,
.email_resend span {
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 16px;
}
.email_pera h4 {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.8);
}
.email_resend {
    margin: 5% 0;
}
.email_link,
.email_link span {
    color: rgba(0, 9, 129, 1);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.email_back {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.email_link i {
    font-size: 18px;
    color: black;
    position: absolute;
    right: 64.9%;
    font-weight: 700 !important;
}
@media screen and (min-width:200px) and (max-width:400px) {
    .email_main{
        width: 280px;
    }
}
@media screen and (min-width:400px) and (max-width:600px) {
    .email_main{
        width: 300px;
    }
}
@media screen and (min-width:600px) and (max-width:900px) {
    .email_main{
        width: 400px;
    }
    .email_link i {
        right: 68%;
    }
}
@media screen and (min-width:200px) and (max-width:600px) {
    .email_link i{ 
        right: 75%;
    }
}